In [1]:
# Import dependencies 
import pandas as pd
import numpy as np

In [2]:
# Declare purchase_data.csv as file
file = "purchase_data.csv"

In [3]:
# Load purchase data into data frame and view first five entries
data_df = pd.read_csv(file)
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
# Total HoP players
player_count = data_df['SN'].value_counts().size
player_count

576

In [5]:
# Purchasing analysis (total)
unique_item_count = data_df['Item ID'].value_counts().size
avg_purchase_price = '${:,.2f}'.format(data_df['Price'].mean())
total_purchases = data_df.count()[0]
total_revenue = '${:,.2f}'.format(data_df['Price'].sum())

purchasing_analysis_df = pd.DataFrame({'Number of Unique Items':unique_item_count,
                                       'Average Purchase Price':avg_purchase_price,
                                       'Total Purchases':total_purchases,
                                       'Total Revenue':total_revenue},index=[''])
purchasing_analysis_df

  Number of Unique Items Average Purchase Price  Total Purchases Total Revenue
                     183                  $3.05              780     $2,379.77

In [6]:
# Gender Demographics
gender = data_df.groupby('Gender')['SN'].unique()
females = gender['Female'].size
males = gender['Male'].size
non_disclosed = gender['Other / Non-Disclosed'].size

percentages = ['{:.2f}'.format(100*males/player_count)+'%',
               '{:.2f}'.format(100*females/player_count)+'%',
               '{:.2f}'.format(100*non_disclosed/player_count)+'%']

demographic_dict = {'Percentage of Players':percentages,
                    'Total':[males,females,non_disclosed]}

demographics_df = pd.DataFrame(demographic_dict,index=['Males','Females','Other/Non-Disclosed'])
demographics_df

                    Percentage of Players  Total
Males                              84.03%    484
Females                            14.06%     81
Other/Non-Disclosed                 1.91%     11

In [7]:
# Purchasing Analysis by Gender
male_purchase_count = data_df.loc[data_df['Gender']=='Male']['Purchase ID'].count()
male_total_purchase_value = data_df.loc[data_df['Gender']=='Male']['Price'].sum()
male_avg_purchase_price = male_total_purchase_value/male_purchase_count

female_purchase_count = data_df.loc[data_df['Gender']=='Female']['Purchase ID'].count()
female_total_purchase_value = data_df.loc[data_df['Gender']=='Female']['Price'].sum()
female_avg_purchase_price = female_total_purchase_value/female_purchase_count

non_disclosed_purchase_count = data_df.loc[data_df['Gender']=='Other / Non-Disclosed']['Purchase ID'].count()
non_disclosed_total_purchase_value = data_df.loc[data_df['Gender']=='Other / Non-Disclosed']['Price'].sum()
non_disclosed_avg_purchase_price = non_disclosed_total_purchase_value/non_disclosed_purchase_count

purchase_dict = {'Number of Purchases':[male_purchase_count,female_purchase_count,non_disclosed_purchase_count],
                 'Average Purchase Price':['${:,.2f}'.format(male_avg_purchase_price),'${:,.2f}'.format(female_avg_purchase_price),'${:,.2f}'.format(non_disclosed_avg_purchase_price)],
                 'Total Purchase Value':['${:,.2f}'.format(male_total_purchase_value),'${:,.2f}'.format(female_total_purchase_value),'${:,.2f}'.format(non_disclosed_total_purchase_value)]
                }

gender_purchasing_df = pd.DataFrame(purchase_dict,index=['Males','Females','Other/Non-Disclosed'])
gender_purchasing_df

,Number of Purchases,Average Purchase Price,Total Purchase Value
Males,652,$3.02,"$1,967.64"
Females,113,$3.20,$361.94
Other/Non-Disclosed,15,$3.35,$50.19

In [8]:
# Age Demographics
min_age = data_df['Age'].min()
max_age = data_df['Age'].max()
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
data_df['Age Group'] = pd.cut(data_df['Age'],bins,right=True,labels=age_groups)

age_purchase_count = data_df.groupby('Age Group')['Purchase ID'].count()
age_purchase_total = data_df.groupby('Age Group')['Price'].sum()
age_avg_purchase_value = age_purchase_total/age_purchase_count

age_purchasing_df = pd.DataFrame({'Number of Purchases':age_purchase_count,
                                  'Average Purchase Price':age_avg_purchase_value.map("${:,.2f}".format),
                                  'Total Purchase Value':age_purchase_total.map("${:,.2f}".format)
                                  })

age_purchasing_df

           Number of Purchases Average Purchase Price Total Purchase Value
Age Group
<10                         23                  $3.35               $77.13
10-14                       28                  $2.96               $82.78
15-19                      136                  $3.04              $412.89
20-24                      365                  $3.05            $1,114.06
25-29                      101                  $2.90              $293.00
30-34                       73                  $2.93              $214.00
35-39                       41                  $3.60              $147.67
40+                         13                  $2.94               $38.24

In [9]:
# Top Spenders
top_5_spenders = data_df.groupby('SN')['Price'].sum().sort_values(ascending=False).index[0:5]
top_5_spenders_df = data_df.loc[data_df['SN'].isin(top_5_spenders)]
purchase_count = top_5_spenders_df.groupby('SN')['Purchase ID'].count()
total_purchase_value = top_5_spenders_df.groupby('SN')['Price'].sum()
avg_purchase_value = total_purchase_value/purchase_count
pd.DataFrame({'Number of Purchases':purchase_count,
              'Average Purchase Price':avg_purchase_value.map("${:,.2f}".format),
              'Total Purchase Value':total_purchase_value.map("${:,.2f}".format)
             }).sort_values(by='Total Purchase Value',ascending=False)

             Number of Purchases Average Purchase Price Total Purchase Value
SN
Lisosia93                      5                  $3.79               $18.96
Idastidru52                    4                  $3.86               $15.45
Chamjask73                     3                  $4.61               $13.83
Iral74                         4                  $3.40               $13.62
Iskadarya95                    3                  $4.37               $13.10

In [19]:
# Most Popular Items (mp)
mp_item_df = data_df.loc[:,['Item Name','Item ID','Price']]
mp_item_groupby = data_df.loc[:,['Item Name','Item ID','Price']].groupby(['Item ID','Item Name'])
mp_item_count = mp_item_groupby['Price'].count()
mp_total_value = mp_item_groupby['Price'].sum()
mp_item_df = mp_item_df.drop_duplicates(['Item ID','Item Name','Price'])
mp_item_df.set_index(['Item ID','Item Name'], inplace=True)
mp_summary_df = pd.DataFrame({'Purchase Count':mp_item_count,
                              'Price':mp_item_df.loc[:,'Price'].map("${:,.2f}".format),
                              'Total Purchase Value':mp_total_value.map("${:,.2f}".format)})
mp_summary_df.sort_values(by='Purchase Count',ascending=False).head()

,,Purchase Count,Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16